@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:wght@400;600;700&display=swap');
:root{
    --corvermelhoforte: #5F3032;
    --corvermelho: #8D3138;
    --corvermelhofraco: #CD414D;
    --branco: #FFFFFF;
}
*{
    cursor: default;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: #331a1b;        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: var(--corvermelho);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    /* border: 3px solid var(--corvermelho);  creates padding around scroll thumb  */
  }

header{
    z-index: 1;
    position: absolute;
    width: 60%;
    height: 50px;
    margin: 30px auto 30px;
    display: flex;
    justify-content: center;
    font-weight: 700;
    top: 0;
}
header nav{
    width: 100%;
}
header nav ul{
    display: flex;
    justify-content: space-around;
}


header nav ul li a , header nav ul li a span{
    color:  #fff;
    cursor: pointer;
    transition: all .4s;
    text-shadow: 1px 1px 2px black;
}
header nav ul li a span{
    transform: translate(5px, 5px);

}

header nav ul li:first-child a:hover, header nav ul li:first-child a:hover span{
    color: rgb(53, 53, 255);
}
header nav :nth-child(2) a:hover, header nav ul li:nth-child(2) a:hover span{
    color: var(--corvermelhofraco);
}
header nav :nth-child(3) a:hover, header nav ul li:nth-child(3) a:hover span{
    color: rgb(200, 0, 255);
}
header nav ul li:last-child a:hover, header nav ul li:last-child a:hover span{
    color: yellow;
}


header nav hr {
    position: absolute;
    width: 100%;
    background-color: white;
    border-radius: 20px;
    margin-top: 10px;
    height: 2px;
}   

.slider{
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.slides{
    width: 400%;
    height: 100vh;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 25%;
    position: relative;
    transition: .4s;
}


.slide img{
    width: 100vw;
    height: 100vh;
}

.slide .escura{
    filter: brightness(40%); 
}

.manual-navigation{
    position: absolute;
    width: 100vw;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}
.manual-btn:hover{
    background-color: #fff;
}


#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -25%;
}

#radio3:checked ~ .first{
    margin-left: -50%;
}

#radio4:checked ~ .first{
    margin-left: -75%;
}

.navigation-auto div{
    border: 2px solid #20a6ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto{
    position: absolute;
    width: 100vw;
    bottom: 26px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .autobtn1{
    background-color: #fff;
}
#radio2:checked ~ .navigation-auto .autobtn2{
    background-color: #fff;
}
#radio3:checked ~ .navigation-auto .autobtn3{
    background-color: #fff;
}
#radio4:checked ~ .navigation-auto .autobtn4{
    background-color: #fff;
}


.slider .slide .text{
    position: absolute;
    width: 620px;
    top: 240px;
    left: 200px;
    color: white;
    font-size: 1.2em;
    z-index: 1;
}

.slide .text h1{
    font-size: 3.2em;
    font-style: italic;
    text-shadow: 2px 2px 4px rgba(255, 0, 0, 0.401);
    font-weight: 700;
    margin-bottom: 20px;
}
.slide .text p{
    font-size: 1.3em;
    text-shadow: 1px 1px 2px black;
}

.slide .text p span{
    font-weight: 700;
    font-size: 1.1em;
}

.slide .text button{
    background-color: transparent;
    backdrop-filter: blur(10px);
    width: 170px;
    height: 50px;
    border-radius: 9px;
    border: 2px solid white;
    margin: 30px 50px;
    transition: .7s;
}

.slide .text button a{
    color: #fff;
    font-size: 1.2em;
}
.slide .text button:hover{
    background-color: rgb(78, 78, 78);
    border: 2px solid rgb(78, 78, 78);
}