body{
    background: white url(../../coisasdafecip/fundocompleto.jpg) no-repeat;
    background-size: cover;
}
header{
    z-index: 1;
    position: sticky;
    top: 10px;
    width: 70%;
    height: 50px;
    margin: 30px auto 30px;
    display: flex;
    justify-content: center;
}
header nav{
    width: 100%;
}
header nav ul{
    display: flex;
    justify-content: space-around;
}


header nav ul li a{
    color: white;
    cursor: pointer;
    transition: all .4s;
}
/* header nav a:hover{
    color: var(--corvermelhofraco);
}  */
header nav ul li:first-child a:hover{
    color: rgb(53, 53, 255);
}
header nav :nth-child(2) a:hover{
    color: var(--corvermelhofraco);
}
header nav :nth-child(3) a:hover{
    color: rgb(200, 0, 255);
}
header nav ul li:last-child a:hover{
    color: yellow;
}


header nav hr {
    position: absolute;
    width: 100%;
    background-color: white;
    border-radius: 20px;
    margin-top: 10px;
    height: 2px;
}   


.main{
    height: 113vh;
}
main.pg1{
    height: 790px;
    display: flex;
    justify-content: center;
}

main img{
    height: 80%;
    transition: all 5s;
    visibility: hidden;
}
main img:hover{
    height: 82%;
}
main.pg2{
    display: flex;
    flex-direction: column;
    color: white;
}
.pg2 article{
    padding: 150px;
}
.pg2 article h1{
    width: 40vw;
    font-family: 'Anton', 'Poppins', sans-serif;
    font-size: 7em;
    line-height: 134px;
    font-weight: 400;
    visibility: hidden;
}
.pg2 article h1 hr{
    margin:0 0 20px;
    width: 471px;
    background-color: white;
    height: 5px;
}

.pg2 article p{
    width: 40vw;
}

.pg3{
    color: white;
}
.pg3 article{
    padding: 50px 100px 0;
    gap: 60px;
    font-size: 1.1em;
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: 750px;
}
.pg3 article .c1{
    display: block;
    background-color: var(--corvermelhoforte);
    border-radius: 20px;
    height: 300px;
    width: 300px;
    margin: auto;
    padding: 20px;
    color: white;
    overflow: hidden;
    transition: all .8s;
    font-size: 1.1em;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.263);
}
.pg3 article .c1:hover{
    width: 850px;
    background-color: var(--corvermelho);
}
.pg3 article .grid{
    display: flex;
    gap: 50px;
}
.pg3 article .grid .caixa{
    background-color: var(--corvermelhoforte);
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.263);
    border-radius: 20px;
    font-size: .9em;
    padding: 15px; 
}
.pg3 article .grid .caixa:nth-child(2){
    position: relative;
    top: 30px;
}
.pg3 article .grid .caixa:nth-child(3){
    position: relative;
    top: 60px;
}
.pg3 article .grid .caixa:hover ~ p{
    filter: blur(10px);
}









