body{
    background: white url(../../coisasdafecip/fundocompleto.jpg) no-repeat;
    background-size: cover;
}
header{
    position: relative;
    width: 70%;
    height: 50px;
    margin: 0 auto 30px;
    display: flex;
    justify-content: center;
}
header nav{
    width: 100%;
    padding-top: 30px;
}
header nav ul{
    display: flex;
    justify-content: space-around;
}

header nav ul li a{
    color: white;
    cursor: pointer;
    transition: all .4s;
}
header nav a:hover{
    font-size: 1.3em;
} 
header nav hr{
    position: absolute;
    width: 100%;
    background-color: white;
    border-radius: 20px;
    margin-top: 10px;
    height: 2px;
}

main.pg1{
    display: flex;
    justify-content: center;
    height: 87vh;
}




