@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:wght@400;600;700&display=swap');
:root{
    --corvermelhoforte: #5F3032;
    --corvermelho: #8D3138;
    --corvermelhofraco: #CD414D;
    --branco: #FFFFFF;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100%;
    background-color: aliceblue;
}
h1{
    font-size: 2.9em;
}
p{
    font-size: 1.4em;
}
body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: #331a1b;        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: var(--corvermelhofraco);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    /* border: 3px solid orange;  creates padding around scroll thumb */
  }