*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
    background-color: aliceblue;
}
h1{
    font-size: 2.9em;
}
p{
    font-size: 1.3em;
}